/* Импорт шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Базовые стили */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
}

body {
    background: linear-gradient(-45deg, #ed193b, #a98055, #f286e2, #681d7a);
    background-size: 400%;
    animation: gradient 8s ease infinite;
}

body.auth-block {
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 70px;
}

.burger {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили header */
header .container {
    padding: 0 70px 0 70px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: calc(100% - 140px);
    border: 30px inset rgb(255, 137, 157);
    border-radius: 0 0 30px 30px;
    background: url("./img/header-bg.jpeg") 00 / cover no-repeat;
    box-shadow: 0 1px 3px 1px black;
}

/* Стили Swiper - картинки заполняют враппер */
.swiper {
    position: relative !important;
    top: 0 !important;
    width: 500px !important;
    height: 500px !important;
    /* Фиксированная высота */
    box-shadow: 0 1px 3px 1px black !important;
    border-radius: 0 0 20px 20px !important;
    overflow: hidden !important;
}

.swiper-wrapper {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
}

/* Стили для слайдов */
.swiper-slide {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    position: relative !important;
}

/* Стили для изображений - ЗАЛИВАЮТ ВРАППЕР */
.swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    /* Заполняет контейнер, обрезая лишнее */
    object-position: center !important;
    /* Центрирует изображение */
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.header__items {
    text-align: center;
    padding: 3px;
    font-size: 40px;
    color: pink;
    text-shadow: 2px 2px 2px black;
    font-weight: 800;
}

.logo__item a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.logo__item-link p {
    font-size: 50px;
}

button {
    cursor: pointer;
}

/* Стили скроллбара */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 8px;
    border: 1px solid white;
}

/* Медиа-запросы для адаптации */
@media all and (max-width: 1025px) {
    header {
        margin: 0 auto;
        width: calc(100% - 140px);
        border: 30px inset rgb(255, 137, 157);
        border-radius: 0 0 30px 30px;
        background: url("./img/header-bg.jpeg") 00 / cover no-repeat;
    }

    .swiper {
        width: 450px !important;
        height: 450px !important;
    }
}

@media all and (max-width: 850px) {
    header .container {
        padding: 0;
        margin: 0 auto;
    }

    .swiper {
        width: 350px !important;
        height: 350px !important;
    }
}

@media all and (max-width: 565px) {
    header {
        margin: 0 auto;
        width: calc(100% - 140px);
        border: 30px inset rgb(255, 137, 157);
        border-radius: 0 0 20px 20px;
        background: url("./img/header-bg.jpeg") 00 / cover no-repeat;
    }

    header .container {
        padding: 0;
        margin: 0 auto;
    }

    .swiper {
        width: 300px !important;
        height: 300px !important;
    }
}

@media all and (max-width: 500px) {
    header {
        margin: 0 auto;
        width: calc(100% - 10px);
        border: 30px inset rgb(255, 137, 157);
        border-radius: 0 0 20px 20px;
        background: url("./img/header-bg.jpeg") 00 / cover no-repeat;
    }
}

@media all and (max-width: 456px) {
    header {
        margin: 0 auto;
        width: calc(100% - 10px);
        border: 10px inset rgb(255, 137, 157);
        border-radius: 0 0 20px 20px;
        background: url("./img/header-bg.jpeg") 00 / cover no-repeat;
    }

    .swiper {
        width: 280px !important;
        height: 280px !important;
    }
}